.picture,
.SlotImages {
    display: flex;
    max-width: 100%;
    
    justify-content: center;
  }

.Start{
    display: flex;
    justify-content: center;
    width: 100%;
  }

#status{
    height: 30vh;

  }

#balRead {
  border-radius: 20px;
  border: solid 2px darkgray;
  height: 25vw;
  max-height: 20vh;
  width: 50vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(133, 188, 236);
}

h3, 
p {
  display: block;
  text-align: center;
  
}